# Train-Test Validation
- Quick Start: https://docs.deepchecks.com/stable/tabular/auto_tutorials/quickstarts/plot_quick_train_test_validation.html
- Gallery: https://docs.deepchecks.com/stable/tabular/auto_checks/train_test_validation/index.html

In [13]:
import json

import pandas as pd
#from sklearn.model_selection import train_test_split
from deepchecks.tabular import Dataset
from deepchecks.tabular.suites import train_test_validation

In [2]:
!ls data

TitanicData2.csv

In [3]:
df = pd.read_csv('data/TitanicData2.csv')
print(df.shape)
df = df[['Passenger_Id','pclass','sex','age','sibsp','parch','fare','survived']]
print(df.shape)
df.head()

(1309, 15)
(1309, 8)

   Passenger_Id pclass     sex   age  sibsp  parch     fare  survived
0             1    3rd    male  39.0      1      5  31.2750         0
1             2    3rd  female  15.0      0      0   8.0292         1
2             3    2nd    male  26.0      1      1  29.0000         1
3             4    3rd    male  23.0      0      0   7.8542         0
4             5    3rd    male  20.0      1      0   7.9250         1

In [5]:
id_col = 'Passenger_Id'
target_col = 'survived'
categorical_cols = ['pclass','sex']

In [6]:
ds = Dataset(df,
            label=target_col,
            index_name=id_col,
            cat_features=categorical_cols)
print(type(ds))
ds

<class 'deepchecks.tabular.dataset.Dataset'>

In [10]:
train_ds, test_ds = ds.train_test_split(stratify=True, test_size=0.2, random_state=123)
train_ds.n_samples, test_ds.n_samples

(1047, 262)

- train_test_split: https://docs.deepchecks.com/stable/tabular/usage_guides/dataset_object.html#train-test-split

In [12]:
train_ds.data.head()

      Passenger_Id pclass     sex   age  sibsp  parch     fare  survived
647            648    3rd  female  22.0      0      0   7.7500         1
390            391    3rd    male  16.0      1      3  34.3750         0
350            351    1st  female  49.0      1      0  76.7292         1
1162          1163    3rd  female  24.0      0      0   7.7500         0
104            105    3rd  female  18.0      0      0   9.8417         1

In [24]:
train_ds.data.to_csv('data/TitanicData2_dcTrain.csv', index=False)
test_ds.data.to_csv('data/TitanicData2_dcTest.csv', index=False)

In [14]:
validation_suite = train_test_validation()
suite_result = validation_suite.run(train_ds, test_ds)

In [15]:
suite_result.show()   # jupyterlabでの表示Error

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_EDGB3JMQUPSWG0LLKRTNAPMI7">Train Test Validat…

In [16]:
# 結果をhtml保存
suite_result.save_as_html('TrainTestValidation_output.html')

'TrainTestValidation_output.html'

In [18]:
'''
for i, res in enumerate(suite_result.get_not_passed_checks()):
    print('>>> Not Pass Test #{}'.format(i))    
    print(res)
'''

"\nfor i, res in enumerate(suite_result.get_not_passed_checks()):\n    print('>>> Not Pass Test #{}'.format(i))    \n    print(res)\n"

### Train Test Samples Mix
https://docs.deepchecks.com/0.18/tabular/auto_checks/train_test_validation/plot_train_test_samples_mix.html
- 学習データとテストデータに同じ特徴量を持つオブザベーションがある

In [21]:
train_ds.data.loc[[1086]]

      Passenger_Id pclass   sex  age  sibsp  parch   fare  survived
1086          1087    3rd  male  NaN      8      2  69.55         0

In [22]:
test_ds.data.loc[[747, 461, 713]]

     Passenger_Id pclass   sex  age  sibsp  parch   fare  survived
747           748    3rd  male  NaN      8      2  69.55         0
461           462    3rd  male  NaN      8      2  69.55         0
713           714    3rd  male  NaN      8      2  69.55         0